.HAkechiImg{
    height: 100%;
    aspect-ratio: 466/623;
    position: absolute;
}

.NoEyeAkechi{
    height: 100%;
    position: absolute;
}

.EyeBackground{
    height: 13%;
    width: 37%;
    left: 20%;
    top: 20%;
    position: absolute;
}

.LeftEye{
    height: 4.7%;
    aspect-ratio: 23/28;
    left: 28.5%;
    top: 26.5%;
    position: absolute;
}

.RightEye{
    height: 5.5%;
    aspect-ratio: 25/33;
    left: 47%;
    top: 25%;
    position: absolute;
}
