@font-face {
  font-family: "Optima nova LT Black";
  src: url("/src/assets/font/Optima-nova-LT-Black-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optima nova LT Italic";
  src: url("/src/assets/font/Optima-nova-LT-Black-Italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optima nova LT";
  src: url("/src/assets/font/Optima-nova-LT-Regular.otf");
  font-weight: normal;
  font-style: normal;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/* Text Style */

.TitleText {
  font-size: 2rem;
  font-family: "Optima nova LT Black";
  line-height: 2;
  word-wrap: break-word;
}

.BodyText {
  font-size: 1rem;
  font-family: "Optima nova LT Black";
  line-height: 1.5;
  word-wrap: break-word;
}

@media screen and (max-width: 1536px) {
  .TitleText {
    font-size: 1.5rem;
    line-height: 2;
  }

  .BodyText {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}

@media screen and (min-width:1537px) and (max-width: 2559px) {
  .TitleText {
    font-size: 1.9rem;
    line-height: 2;
  }

  .BodyText {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (min-width:2560px) {
  .TitleText {
    font-size: 2.3rem;
    line-height: 2;
  }

  .BodyText {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
}
