  /* Text Style */
  .HText {
    height: 98vh;
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 5%;
  }
  
  .HName {
    font-weight: 400;
    line-height: 154px;
    letter-spacing: 6.4px;
    word-wrap: break-word;
    color: black;
    margin: 0;
    padding: 0;
    flex: auto 0 0;
  }
  
  .HSubtitle {
    color: black;
    font-size: 32px;
    font-family: Optima nova LT;
    font-weight: 500;
    line-height: 38.17px;
    word-wrap: break-word;
    flex: auto 0 0;
  }
  
  .HQuote {
    color: black;
    font-size: 16px;
    font-family: Optima nova LT;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    right: 50px;
    top: 20px;
    position: relative;
    flex: auto 0 0;
  }
  
  .HTextSpacerT {
    flex: auto 1 1;
  }
  
  .HTextSpacerB {
      flex: auto 2 1;
    }
    
  /* background style */
  .background {
    height: 99.1%;
    position: absolute;
    z-index: -100;
  }
  
  .bgWhite{
      width: 70%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      position: absolute;
    }
  
  .bgLogo{
      width: 37%;
      aspect-ratio: 1/1;
      left: 5%;
      top: 15%;
      position: absolute;
      opacity: 0.4;
  }
  
  /* Bottom Shape Style */
  .HBottonShape{
      border: 0px;
      margin: 0px;
      width: 100vw;
      height: 30%;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0;
  }
  
  /* Bottom Image */
  .HBImage{
      height: 70%;
      bottom: 0;
      position: absolute;
      overflow: hidden;
  }
  
  .LearnMoreButtonParent{
    bottom: 30%;
    position: absolute;
    z-index: 200;
  }
  
  .LearnMoreButton{
    right: 0px;
    width: 250px;
    position: absolute;
  }
  