.Log{
  width: 20%;
  right: 5%;
  bottom: 10%;
  z-index: 200;
  position: absolute;
}

.LogButton{
  background: none;
  border: none;
  overflow: visible;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 20%;
}

.LogButton:focus{
  outline: none;
}

.LogButton:hover{
  cursor: pointer;
}

.LBImge{
  width: 100%;
  aspect-ratio: 78/44;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.test{
  position: absolute;
}