.Log{
  width: 5%;
  right: 3%;
  bottom: 5%;
  z-index: 200;
  position: absolute;
}

.LogButton{
  bottom: 0;
  right: 0;
  position: relative;
  width: 100%;
  background: none;
  border: none;
  overflow: visible;
}

.LogButton:focus{
  outline: none;
}

.LogButton:hover{
  cursor: pointer;
}

.LBImge{
  width: 100%;
  aspect-ratio: 78/44;
  position: relative;
}

.Tooltip {
  width: 110px;
  background-color: black;
  color: white;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
  position: relative;
  opacity: 0.8;
  text-align: center;
}