@font-face {
    font-family: 'P5_Menu';
    src: url('../assets/font/Persona5MenuFontPrototype-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'P5_Expose';
    src: url('../assets/font/Expose-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1536px) {
    .TypedText{
        font-size: var(--text-size-small);
    }
}

@media screen and (min-width:1537px) and (max-width: 2559px) {
    .TypedText{
        font-size: var(--text-size-medium);
    }
}

@media screen and (min-width:2560px) {
    .TypedText{
        font-size: var(--text-size-large);
    }
}

